@import '../../../styles/reset';

.social-container {
    .social-box {
        width: fit-content;
        border: 1px solid $border-color;
        border-radius: 100px;
        padding: 10px;
        display: flex;
        gap: 10px;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background: $background-color;
            border-radius: 50%;
            box-shadow: 0 5px 15px -5px #535c68;
            color: $border-color;
            overflow: hidden;
            position: relative;

            @include mobile {
                width: 38px;
                height: 38px;
            }

            svg {
                font-size: 24px;
            }

            &:hover {
                svg {
                    transform: scale(1.3);
                    color: #fff;
                }

                &::before {
                    animation: pounce 0.7s 1;
                    top: -10%;
                    left: -10%;
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 120%;
                height: 120%;
                background: $border-color;
                transform: rotate(45deg);
                left: -110%;
                top: 90%;

            }
        }

        @keyframes pounce {
            0% {
                left: -110%;
                top: 90%;
            }

            50% {
                left: 10%;
                top: -30%;
            }

            100% {
                top: -10%;
                left: -10%;
            }
        }
    }
}