@import '../../styles/reset';

.footer{
    padding-top: 291px;
    .footer-menu-box{
        @include mobile{
            padding: 0 16px;
        }
        .container{
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-top: 1px solid $border-color;
            display: flex;
            @include mobile{
                border-right: none;
                
                flex-direction: column;
            }
            .menu-left-box{
                border-right: 1px solid $border-color;
                padding: 100px 80px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                width: 40%;
                @include mobile{
                    padding: 40px 20px;
                    gap: 20px;
                    width: 100%;
                    border-bottom: 1px solid $border-color;
                }
                .home-photo-text{
                    @include fonts(20px, 27.32px, $gray, $Manrope, 600);
                    @include mobile{
                        @include fonts(14px, 19.12px, $gray, $Manrope, 600);
                    }
                }
                .lets-work-box{
                    .lets-box{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .lets-text{
                            @include fonts(48px, 65.57px, $text-color, $Manrope, 600);
                            @include mobile{
                                @include fonts(28px, 38.25px, $text-color, $Manrope, 600);
                            }
                        }
                        .btn{
                            border: none;
                        }
                    }
                    .work-text{
                        @include fonts(48px, 65.57px, $text-color, $Manrope, 600);
                        @include mobile{
                            @include fonts(28px, 38.25px, $text-color, $Manrope, 600);
                        }
                    }
                }
            }
            .menu-right-box{
                padding: 100px 80px;
                display: grid;
                justify-content: space-between;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                width: 60%;
                gap: 40px;
                @include mobile{
                    border-right: 1px solid $border-color;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    padding: 40px 20px;

                }
                .each-menu-box{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    @include mobile{
                        gap: 14px;
                    }
                    .title{
                        @include fonts(18px, 24.59px, $gray, $Manrope, 600);
                        @include mobile{
                            @include fonts(14px, 19.12px, $gray, $Manrope, 600);
                        }
                    }
                    .menu-li{
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        .menu{
                            @include fonts(18px, 24.59px, $text-color, $Manrope, 500);
                            padding: 6px 0px;
                            @include mobile{
                                @include fonts(14px, 19.12px, $text-color, $Manrope, 500);
                            }
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                                color: $gray;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-nav-box{
        border-top: 1px solid $border-color;
        @include mobile{
            padding: 0 16px;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0px;
            @include mobile{
                flex-direction: column;
                gap: 16px;
            }
            .term-condition-box{
                display: flex;
                align-items: center;
                .term-condition-text,.privacy-policy-text{
                    @include fonts(14px, 21px, $menu-color, $Manrope, 400);
                    @include mobile{
                        @include fonts(12px, 15.6px, $menu-color, $Manrope, 400);
                    }
                }
                .term-condition-text{
                    padding-right: 16px;
                    border-right: 1px solid $border-color;
                    margin-right: 16px;
                }
            }
              
            .all-rights-text{
                @include fonts(14px, 21px, $menu-color, $Manrope, 400);
                @include mobile{
                    @include fonts(12px, 15.6px, $menu-color, $Manrope, 400);
                }
            }
        }
    }
}